<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerelement('Over mij')}"></head>
<body class="container-fluid p-0 d-flex flex-column min-vh-100">
    <div th:replace="~{fragments/header :: navbar}"></div>

    <main class="container mt-4 flex-grow-1">
        <h1>Over mij</h1>
        <h1>Ik ben Albanees</h1>
        <ol class="bg-info">
            <li th:text="${myName}"></li>
            <li th:text="${myAddress}"></li>
            <li th:text="${myCity}"></li>
            <li th:text="${myCountry}"></li>
        </ol>
        <p>Hallo ik ben <span th:text="${myName}"></span> en woon in <span th:text="${myAddress}"></span>, te <span
                th:text="${myCity}"></span></p>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>