<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerelement('Over mij')}"></head>
<body class="container-fluid p-0">
<div th:replace="~{fragments/header :: navbar}"></div>
<main class="row p-3 p-md-4">
    <div class="col">
        <a th:href="@{home}">Home</a>
        <h1>Over mij</h1>
        <h1>Ik ben Albanees</h1>
        <ol class="bg-info">
            <li th:text="${myName}"></li>
            <li th:text="${myAddress}"></li>
            <li th:text="${myCity}"></li>
            <li th:text="${myCountry}"></li>
        </ol>
        <p>Hallo ik ben <span th:text="${myName}"></span> en woon in <span th:text="${myAddress}"></span>, te <span
                th:text="${myCity}"></span></p>
    </div>
</main>
<footer class="footer fixed-bottom mt-auto py-3 border-top border-secondary-subtle border-3">
    <div class="container text-center">
        <p>&copy; Thomas More</p>
    </div>
</footer>
</body>
</html>