<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerelement('Artist Details')}"></head>
<body class="container-fluid p-0 d-flex flex-column min-vh-100">
<div th:replace="~{fragments/header :: navbar}"></div>

<main class="container mt-4 flex-grow-1" th:if="${artist}" th:object="${artist}">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <a th:href="@{|/artistdetails/${previd}|}" class="btn btn-outline-secondary px-3">
            &lt;
        </a>

        <div class="text-center">
            <h1 class="display-4" th:text="*{artistName}"></h1>
            <h4 class="text-muted" th:text="*{genre}"></h4>
        </div>

        <a th:href="@{|/artistdetails/${nextid}|}" class="btn btn-primary px-3">
            &gt;
        </a>

    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <p><strong>portfolio:</strong> <span th:text="*{portfolio}"></span></p>
            <p th:text="*{bio}"></p>
            <a th:href="*{linkMoreInfo}" target="_blank" th:text="*{linkMoreInfo}"></a>
        </div>

        <div class="col-md-6 mb-3 text-center">
            <img th:src="*{imageUrl}" alt="artist foto" class="img-fluid">
        </div>
    </div>

</main>

<main class="container mt-4 flex-grow-1 text-center" th:unless="${artist}">
    <h2 class="text-danger">Geen geldige artiest gekozen</h2>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>