<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerelement('Klant begroeting')}"></head>
<body class="container-fluid p-0 d-flex flex-column min-vh-100">

    <div th:replace="~{fragments/header :: navbar}"></div>

    <main class="container mt-4 flex-grow-1">
        <div class="text-center">
            <h1 class="display-4" th:text="${greeting}"></h1>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>