<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerelement('Pay')}"></head>
<body class="container-fluid p-0 d-flex flex-column min-vh-100">

    <main class="container mt-4 flex-grow-1">
        <div class="bg-primary border border-danger border-3 rounded text-light m-4 p-2">
            <p class="my-0">De datum van vandaag is <span th:text="${today}"></span></p>
        </div>
        <div class="bg-info border border-warning border-3 rounded m-4 p-2">
            <p class="my-0">De uiterste datum van betalen is <span th:text="${futureDay}"></span></p>
        </div>
        <div class="text-center mt-5">
            <h2 th:if="${weekend}" class="text-success">Prettig weekend, je hebt het verdient!</h2>

            <h2 th:unless="${weekend}" class="text-danger">Voor je het weet is het weekend!</h2>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>