<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerelement('Zalen')}"></head>
<body class="container-fluid p-0 d-flex flex-column min-vh-100">
<div th:replace="~{fragments/header :: navbar}"></div>

    <main class="container mt-4 flex-grow-1">
        <h1 class="text-center mb-4">Zalen</h1>
        <p th:text="${#lists.size(venues)} + ' zalen gevonden'"></p>
        <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#filterModal">
            filters
        </button>
        <div class="row">
            <div th:each="venue: ${venues}" th:object="${venue}" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">

                <a th:href="@{|/venuedetails/*{id}|}"
                   class="card border-1 m-1 p-2 text-center text-decoration-none h-100 text-body">

                    <h3 th:text="*{venueName}"></h3>
                    <p th:text="|*{capacity} personen|"></p>

                    <img th:src="*{imageUrl}" class="img-fluid mt-auto" alt="zaal foto">

                </a>

            </div>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form th:action="@{/venuelist}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body mx-2">
                        <div class="row border rounded mt-3">
                            <div class="col-12 p-1">
                                <h5>capaciteit</h5>
                            </div>
                            <div class="col-6 p-1">
                                <label class="form-label">minimum</label>
                                <div class="input-group">
                                    <input type="number"
                                           aria-label="minimum capaciteit"
                                           name="minCapacity"
                                           step="50"
                                           th:value="${param.minCapacity}">
                                    <span class="input-group-text">personen</span>
                                </div>
                            </div>
                            <div class="col-6 p-1">
                                <label class="form-label">maximum</label>
                                <div class="input-group">
                                    <input type="number"
                                           aria-label="maximum capaciteit"
                                           name="maxCapacity"
                                           step="50" th:value="${param.maxCapacity}">
                                    <span class="input-group-text">personen</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                        <button type="submit" class="btn btn-primary">zoek</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>