<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zaaldetails</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
</head>
<body class="container-fluid p-0">
<nav class="navbar navbar-expand-md navbar-dark bg-dark p-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-3 mt-md-0" id="navbarSupportedContent">
        <a class="navbar-brand text-warning" th:href="@{/}">Let's Party!</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/venuedetails}">Zaaldetails</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{about}">Over mij</a>
            </li>
        </ul>
    </div>
</nav>
<main class="container mt-4" th:object="${venue}">
    <h1 th:text="*{venueName}" class="text-center fs-1 mb-4"></h1>
    <h3 class="text-center mb-3" th:text="*{city}"></h3>
    <p class="text-center">zie <a th:href="*{linkMoreInfo}" th:text="*{linkMoreInfo}" target="_blank"></a></p>

    <div class="row mt-4">
        <div class="col-md-6 mb-4">
            <img th:src="*{imageUrl}" th:alt="*{venueName}" class="img-fluid rounded shadow" style="max-width: 500px;">
        </div>

        <div class="col-md-6">
            <h4 class="mb-3">Faciliteiten:</h4>

            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <strong>Capaciteit:</strong><br>
                            max <span th:text="*{capacity}"></span> personen
                        </li>
                        <li class="mb-2">
                            <strong>Afstand OV:</strong><br>
                            <span th:text="*{distanceFromPublicTransportInKm}"></span> km
                        </li>
                        <li class="mb-2">
                            <strong>Eten voorzien:</strong><br>
                            <span th:text="*{foodProvided} ? 'ja' : 'nee'"></span>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <strong>Binnen:</strong><br>
                            <span th:text="*{indoor} ? 'ja' : 'nee'"></span>
                        </li>
                        <li class="mb-2">
                            <strong>Buiten:</strong><br>
                            <span th:text="*{outdoor} ? 'ja' : 'nee'"></span>
                        </li>
                        <li class="mb-2">
                            <strong>Gratis parking:</strong><br>
                            <span th:text="*{freeParkingAvailable} ? 'ja' : 'nee'"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>